<!-- Modal to control who can collaborate on a course-->

<template name="modalAddCollaborators">
  <div id="modalAddCollaborators" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span class="modal-title">Manage collaborators for <em>{{ title }}</em></span>
      </div>
      <div class="modal-body">
        <form class="form" role="form">
          <ul class="list-group">
            {{# each  collaborators }}
                <li class="collaborator list-group-item">
                  <button
                    title="Remove Collaborator"
                    id="remove-collaborator"
                    class="btn btn-danger btn-xs pull-right">
                    <i class="fa fa-trash"></i>
                  </button>
                  <span>{{ this }}</span>
                </li>
            {{/ each }}
          </ul>
          <div class="form-group">
            <input class="form-control typeahead" type="text" id="collaboratorName" placeholder="add a collaborator  ..." data-source="courses" autocomplete="off" spellcheck="off">
            <button type="button" id="add-collaborator" class="btn btn-success">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
